@import 'variables';

.bgc-light-green{
    background: $light-green !important;
}

.bgc-light-brown{
    background: $light-brown !important;
}

.bgc-light-blue{
    background: $light-blue !important;
}

.bgc-light-gray{
    background: $light-gray !important;
}

.bgc-dark-green{
    background: $dark-green !important;
}

.bgc-dark-brown{
    background: $dark-brown !important;
}

.bgc-dark-gray{
    background: $dark-gray !important;
}