@import 'variables';

.form-window {
    position: absolute;
    display: block;
    background: $off-white;
    border-radius: 16px;
    border: 1px solid $off-black;
    transform: translate(-50%, -50%);
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: none;
    border: none;
    font-weight: bold;
}

.props {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    border-radius: 8px;
    text-align: center;
    background: lighten($off-white, $amount: 15) 
}