<header class="bgc-light-blue py-2 sticky-top">
  <div class="container">
    <h1 class="my-2">Branch</h1>
    <h5 class="font-italic">Non-linear online roleplaying game</h5>
    <nav class="navbar p-0">
      <div class="d-flex  flex-fill  justify-content-start">
        <a class="bgc-dark-gray btn btn-primary mr-2" [routerLink]="['']">Home</a>
        <a class="bgc-dark-gray btn btn-primary mr-2" [routerLink]="['story']">Story</a>
      </div>
    </nav>
  </div>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>
