<div class="d-flex tree bgc-light-brown">
  <svg
    class="flex-fill"
    [attr.viewBox]="viewBox"
    (mousedown)="translateGroupStart($event)"
    (mouseup)="translateGroupEnd($event)"
    (mouseleave)="translateGroupEnd($event)"
    (mousemove)="translateGroup($event)"
    preserveAspectRatio="xMidYMin meet"
  >
    <g [attr.transform]="translate">
      <g *ngFor="let trunk of trunks">
        <g trunk [start]="trunk.start" [duration]="trunk.duration"></g>
      </g>
      <g trunk [start]="1000" [duration]="500"></g>
    </g>
  </svg>
</div>
