<div class="d-flex tree bgc-light-brown">
  <div dialog style="display: flex;"></div>
  <svg
    class="flex-fill"
    [attr.viewBox]="viewBox"
    (mousedown)="translateGroupStart($event)"
    (mouseup)="translateGroupEnd($event)"
    (mouseleave)="translateGroupEnd($event)"
    (mousemove)="translateGroup($event)"
    preserveAspectRatio="xMidYMin meet"
  >
    <g [attr.transform]="translate">
      <g *ngFor="let trunk of trunks">
        <g trunk [start]="trunk.start" [duration]="trunk.duration"></g>
      </g>
      <g *ngFor="let branchArray of branches">
        <g *ngFor="let branch of branchArray">
          <g branch [from]="branch.from" [to]="branch.to"></g>
        </g>
      </g>
    </g>
  </svg>
</div>
