// COLORS
$light-green: rgb(93, 192, 122);
$light-brown: rgb(219, 203, 176);
$light-blue: rgb(185, 206, 240);
$light-gray: rgb(213, 218, 215);
$dark-green: rgb(13, 112, 79);
$dark-brown: rgb(92, 56, 33);
$dark-gray: rgb(92, 93, 93);
$off-black: rgb(35,35,35);
$off-white: rgb(230,230,230)