// COLORS
$light-green: rgb(93, 192, 122);
$light-brown: rgb(189, 165, 126);
$light-blue: rgb(134, 169, 226);
$light-gray: rgb(213, 218, 215);
$dark-green: rgb(13, 112, 79);
$dark-brown: rgb(114, 94, 69);
$dark-gray: rgb(92, 93, 93);
$off-black: rgb(35,35,35);
$off-white: rgb(200,200,200)